.bg-section {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.first-bg {
  background-image: url("../../assets/Background/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* height: 33.3%; */
  border: 1px solid red;
  opacity: 30%;
}

.secound-bg {
  background-image: url("../../assets/Background/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* height: 33.3%; */
  border: 1px solid blue;
  opacity: 30%;
}

.third-bg {
  background-image: url("../../assets/Background/bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* height: 33.3%; */
  border: 1px solid green;
  opacity: 30%;
}
