.first-bg {
    background-image: url('/crawn-dental-care/src/assets/Background/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    height: 33.3%; 
    }
    
    .secound-bg {
    background-image: url('/crawn-dental-care/src/assets/Background/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    height: 33.3%;
    }
    
    .third-bg {
    background-image: url('/crawn-dental-care/src/assets/Background/bg3.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    height: 33.3%;
    }
    