
 
 .bg-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  /* z-index: 1; */
  position: relative;
 
}

.gradientRight {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  background: linear-gradient(270deg, #EFF9FB 16.15%, rgba(239, 249, 251, 0) 100%);
  z-index: 10;
}

.first-bg {
  position: relative;
background-image: url("../../assets/Background/bg1.png");
}

.secound-bg {
background-image: url("../../assets/Background/bg2.png");
}

.third-bg {
background-image: url("../../assets/Background/bg3.png");
}

.first-bg,
.secound-bg,
.third-bg {
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
/* opacity: 40%; */
}