.body {
  box-sizing: border-box;
  max-width: 1200px;
}

.header-container {
  max-width: 1920px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 10%;
  position: absolute;
  z-index: 2222;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1230px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 730px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 570px;
  }
}

.header-logo {
  flex: 1;
}

.header-logo img {
  max-height: 70px;
}

.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  z-index: 1000;
}

.header-section-phone,
.header-section-address,
.header-section-hours {
  margin-left: 20px;
}

.header-label-phone,
.header-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.header-info-phone,
.header-info {
  margin: 0;
}
