.body {
  box-sizing: border-box;
  margin: 0 auto;
}


.header-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  z-index: 1;
}

@media screen and (min-width: 767px) {
  .header-container {
    width: 740px;
  }
}
@media screen and (min-width: 992px) {
  .header-container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    width: 1170px;
  }
}
@media screen and (min-width: 1640px) {
  .header-container {
    width: 1300px;
  }
}






/* .header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0px 10%;
    position: absolute;
    z-index: 1;
    max-width: 1200px;
  } */
  
  .header-info {
    display: flex;
    flex-direction: row;
  }


  .header-logo {
    max-width: 150px;
  }
  
  .header-section {
    text-align: center;
    background-color: white;
    padding: 0px 20px;
    border-radius: 15px;
  }

  .header-section-phone {
    padding: 0px 20px;
  }

  .header-label-phone {
    font-weight: normal;
  }

  .header-info-phone {
    font-weight: bold;
  }
  
  .header-label {
    font-weight: bold;
    margin-bottom: -14px;
    color: #28B7BB;
  }
  
  .header-info {
    font-size: 0.9em;
    color: #000000;
  }

  .header-logo {
    height: auto;
    width: auto;
    margin-right: 50%;
  }